/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #96aaff;
    min-height: 100vh;
    transition: 1s;
}

.bodyJ1
{
    background-color: #96aaff;
}

.bodyJ2
{
    background-color: #ff9696;
}

/* Header */
header {
    margin: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #333;
}

/* Main game area */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Game board */
.tablero {
    background-color: antiquewhite;
    background-image: url("../imagenes/tablero.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 520px;
    height: 400px;
    border: 2px solid #575757;
    border-radius: 10px;
    position: relative;
}

/* Player sections */
.jugador {
    width: 520px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#jugador1 {
    background-color: #007bff; /* Blue */
}

#jugador2 {
    background-color: #dc3545; /* Red */
}

/* Dice section */
.dadoJ1, .dadoJ2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.boton {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: #d1d1d1;
    cursor: pointer;
    transition: 0.2s;
    font-family: Arial, sans-serif;
    font-size: 23px;
}

#btnDadoJ1
{
    background-color: #0059b8;
}

#btnDadoJ2
{
    background-color: #8d1f2a;
}

#btnDadoJ1:hover:enabled{
    background-color: #013d7e;
    transform: scale(1.05);
}

#btnDadoJ2:hover:enabled{
    background-color: #6d151e;
    transform: scale(1.05);
}

.dado img {
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

@keyframes tirar {
    0% {
        transform: scale(0.9) rotate(0deg);
    }
    50% {
        transform: scale(0.8) rotate(180deg);
    }
    100% {
        transform: scale(0.9) rotate(360deg);
    }
}

.tirando {
    animation: tirar 0.4s;
}

/* Fichas */
.ficha 
{
    width: 40px;
    height: 40px;
    position: absolute;
}

.ficha img 
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#fichaJ1 
{
    top: 0;
    left: 0;
    transition: all 0.5s;
}

#fichaJ1 img
{
    transform: scaleX(-1);
}

#fichaJ2 
{
    top: 0;
    left: 10px;
    transition: all 0.5s;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(19, 150, 26);
    color: rgb(27, 27, 27);
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s;
}

footer:hover {
    background-color: rgb(15, 177, 23);
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
}